<div id="chat" style="display: none;">
    <textarea id="message"></textarea>
    <button id="send">Send</button>
    <ul id="messages"></ul>
</div>
<div id="login">
    <input id="username" type="text" placeholder="Username">
    <button id="login-button">Login</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
